.main-navigation {
  background-color: var(--clr-primary-2);
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}

.main-navigation > :first-child {
  padding: 17px;
  text-align: center;
  background-color: #007f49;
}

.main-navigation > :last-child {
  margin-top: auto;
}

.main-navigation ul {
  margin: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  scrollbar-color: gray #006d3f;
  scrollbar-width: thin;
}

.main-navigation ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.main-navigation a,
.main-navigation .nav-item-inner {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px;

  font: var(--font-xs);
  border-radius: 5px;
}

:is(.main-navigation a, .main-navigation .nav-item-inner)
  > :first-child:not(.nav-item-label) {
  fill: #fff;
  width: 24px;
}

.main-navigation .nav-item-inner {
  justify-content: space-between;
}

.main-navigation :is(a, .nav-item-inner):hover {
  background-color: #006d3f;
  transition: background-color 0.5s;
}

.main-navigation a.active {
  background-color: #006d3f;
  transition: background-color 0.5s;
}

.logout-section {
  margin-top: auto;
  text-align: center;
}

.logout-button {
  background-color: #006d40d3 !important;
  border-color: #006d40d3 !important;
  padding: 6px 16px;
  font-size: 13px;
  margin: 7px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s !important;
  width: 130px;
}

.logout-button:hover {
  background-color: #005f38 !important;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

.main-navigation .subNav {
  overflow: hidden;
  max-height: 0;
  margin: 0;
  transition: all 0.5s ease-out;
}

.main-navigation .subNav.expanded {
  max-height: 100%;
  margin-block: 10px;
  margin-inline: 20px 10px;
}

.nav-item-label {
  display: flex;
  gap: 0.5rem;
}

.nav-item-inner .nav-item-label > :first-child {
  fill: #fff;
  width: 24px;
}
