:root{
    --filter-title-padding-left: 15px;
    --filter-title-color: #008C51;
    --filter-list-style: none;
    --filter-list-padding: 0px;
    --filter-list-item-padding-left: 30px;
    --filter-list-item-padding-top: 5px;
    --filter-list-item-padding-bottom: 5px;
    --filter-list-item-margin-bottom: 10px;
    --filter-list-item-color: #7b7d81;
    --filter-list-item-icon-width: 15px;
    --filter-list-item-icon-margin-right: 15px;
    --filter-list-item-hover-background-color: #ececec;
    --filter-list-item-hover-cursor: pointer;
    --filter-container-padding-top: 12px;
    --filter-container-margin-top: 8px;
    --filter-title-margin: 10px;
    --display-block: block;

    --border: 1px solid #dbdbdb;
    --border-none: none;

    --font-size-main: 12px;
    --font-size-title: 10px;
    --font-weight-title: 700;
}

.filter-list-container{
    border: var(--border);
    padding-top: var(--filter-container-padding-top);
    margin-top: var(--filter-container-margin-top);
}

.filter-list-container .box-title {
    padding-left: var(--filter-title-padding-left);
    color: var(--filter-title-color);
    padding-bottom: var(--filter-title-margin);
    display: var(--display-block);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    font-family: 'Product Sans', sans-serif;
  }

.filter-list {
    list-style: var(--filter-list-style);
    padding-left: var(--filter-list-padding);
}
  
.filter-list li {
    padding-left: var(--filter-list-item-padding-left);
    padding-top: var(--filter-list-item-padding-top);
    padding-bottom: var(--filter-list-item-padding-bottom);
    margin-bottom: var(--filter-list-item-margin-bottom);
    color: var(--filter-list-item-color);
    
    font-size: var(--font-size-main);
}

.filter-list li:hover {
    background-color: var(--filter-list-item-hover-background-color);
    cursor: var(--filter-list-item-hover-cursor);
}

.list-item-icon {
    width: var(--filter-list-item-icon-width);
    margin-right: var(--filter-list-item-icon-margin-right);
}

.border-top-none{
    border-top: var(--border-none) !important;
}

.border-left-none{
    border-left: var(--border-none) !important;
}

.border-right-none{
    border-right: var(--border-none) !important;
}

.border-bottom-none{
    border-bottom: var(--border-none) !important;
}

.container-title{
    padding-left: var(--filter-title-padding-left);
    color: var(--filter-title-color);
    padding-bottom: var(--filter-title-margin);
    display: var(--display-block);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    font-family: 'Product Sans', sans-serif;
}