.primary-green {
    color: #35ad00 !important;
}

.primary-red {
    color: #e61716 !important;
}

.primary-yellow {
    color: #ff911a !important;
}

.primary-purple {
    color: #961be2 !important;
}

.primary-green-bg {
    background-color: #35ad00 !important;
}

.primary-red-bg {
    background-color: #e61716 !important;
}

.primary-yellow-bg {
    background-color: #ff911a !important;
}

.primary-purple-bg {
    background-color: #961be2 !important;
}

.lead-color {
    color: #3ec263 !important;
}

.enduser-color {
    color: #f54848e5 !important;
}

.customer-color {
    color: #ffab2e !important;
}

.organisation-color {
    color: #9f60de !important;
}

.other-activity-color {
    color: #2196f3 !important;
}

.lead-color-bg {
    background-color: #3ec263 !important;
}

.enduser-color-bg {
    background-color: #f54848e5 !important;
}

.customer-color-bg {
    background-color: #ffab2e !important;
}

.organisation-color-bg {
    background-color: #9f60de !important;
}

.other-activity-color-bg {
    background-color: #2196f3 !important;
}

.lead-color-lower-bg {
    color: #3ec263 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #3ec2631e !important;
}

.enduser-color-lower-bg {
    color: #f54848e5 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #f548481c !important;
}

.customer-color-lower-bg {
    color: #ffab2e !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #ffab2e25 !important;
}

.organisation-color-lower-bg {
    color: #9f60de !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #9f60de1c !important;
}

.leave-without-pay-color-bg {
    background-color: #5c8599 !important;
}

.annual-leave-color-bg {
    background-color: #df84df !important;
}

.personal-leave-color-bg {
    background-color: #7e7ece !important;
}

.long-service-leave-color-bg {
    background-color: #b3b329 !important;
}

.other-leave-color-bg {
    background-color: #aaa9a9 !important;
}

.declined-leave-color-bg {
    background-color: #f45551 !important;
}

.pending-leave-color-bg {
    background-color: #3ec263 !important;
}

.cancelled-leave-color-bg {
    background-color: #19c5a8 !important;
}

.leave-without-pay-color-lower-bg {
    color: #5c8599 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #8bb8cf44 !important;
}

.annual-leave-color-lower-bg {
    color: #be6ebe !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #ffc1ff67 !important;
}

.personal-leave-color-lower-bg {
    color: #7e7ece !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #e8e8ffc5 !important;
}

.long-service-leave-color-lower-bg {
    color: #b3b329 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #ffffb5a6 !important;
}

.other-leave-color-lower-bg {
    color: #696868 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #c0c0c05b !important;
}

.declined-leave-color-lower-bg {
    color: #f45551 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #f455511c !important;
}

.pending-leave-color-lower-bg {
    color: #3ec263 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #00ff001c !important;
}

.cancelled-leave-color-lower-bg {
    color: #19c5a8 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    background-color: #19c5a81c !important;
}

.active-color-bg {
    background-color: #388e3c !important;
}

.inactive-color-bg {
    background-color: #b71c1c !important;
}


.public-holiday-color-bg {
    background-color: #ff9898 !important;
}

.custom-editor-bg {
    background-color: #fffbe7 !important;
}