$kendo-color-primary: #37b400;
$kendo-color-warning: #ffab2e;
$kendo-color-error: #f54848e5;
$kendo-color-tertiary: #00a2ff;
$kendo-color-info: #9f60de;

@import "~@progress/kendo-theme-default/dist/all.scss";