.overflow-hidden {
    overflow: hidden !important;
}

.cursor-pointer:hover {
    cursor: pointer !important;
}

.form-group-span-custom {
    display: block !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
    color: #006D3F !important;
    font-size: 13px !important;
    border-bottom: 2px solid #d3d3d3 !important;
    padding-bottom: 5px !important;
}

.form-group-label-custom {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #666;
    font-size: 11px;
}

.confirm-dialog-btn-swap {
     .p-dialog-footer {
        display: flex;
        justify-content: flex-end;

        > button:first-child {
            order: 1;
        }
    }
}