:root {
  /*
    ################################
    Color - Primary #########
    ################################ */
  --clr-primary: var(--green-500);
  --clr-primary-2: var(--green-500-2);
  --clr-primary-darker: var(--purple-800);
  --clr-primary-lighter: var(--purple-300);
  --clr-primary-translucent-10: var(--purple-translucent-10);

  /* Color - Primary Text */
  --clr-primary-text: var(--clr-primary);
  --clr-primary-text-inverse: var(--white);

  /* Color - Primary Surface */
  --clr-primary-surface: var(--clr-primary-lighter);
  --clr-primary-surface-inverse: var(--clr-primary-darker);

  /*
    ################################
    Color - Secondary #########
    ################################ */
  --clr-secondary: var(--mint-400);
  --clr-secondary-darker: var(--mint-800);
  --clr-secondary-lighter: var(--mint-200);
  --clr-secondary-translucent-10: var(--mint-translucent-10);
  --clr-secondary-translucent-20: var(--mint-translucent-20);

  /* Color - Secondary Text */
  --clr-secondary-text: var(--clr-secondary);
  --clr-secondary-text-inverse: var(--white);

  /* Color - Secondary Surface */
  --clr-secondary-surface: var(--clr-secondary);
  --clr-secondary-translucent-20-surface: var(--clr-secondary-translucent-20);
  --clr-secondary-surface-inverse: var(--clr-secondary-darker);

  /*
    ################################
    Color - Alert #########
    ################################ */
  --clr-alert: var(--red-400);

  /* Color - Alert Text */
  --clr-alert-text: var(--white);
  --clr-alert-text-inverse: var(--white);
  --clr-alert-text-hover: var(--red-100);

  /* Color - Alert Surface */
  --clr-alert-surface: var(--red-400);
  --clr-alert-surface-inverse: var(--red-400);

  /*
    ################################
    Color - Warning #########
    ################################ */
  --clr-warning: var(--orange-400);

  /* Color - Warning Text */
  --clr-warning-text: var(--white);
  --clr-warning-text-inverse: var(--white);

  /* Color - Warning Surface */
  --clr-warning-surface: var(--orange-400);
  --clr-warning-surface-inverse: var(--orange-400);

  /*
    ################################
    Color - Neutral #########
    ################################ */
  --clr-neutral-white: var(--white);
  --clr-neutral-50: var(--gray-50);
  --clr-neutral-80: var(--gray-80);
  --clr-neutral-100: var(--gray-100);
  --clr-neutral-200: var(--gray-200);
  --clr-neutral-300: var(--gray-300);
  --clr-neutral-400: var(--gray-400);
  --clr-neutral-450: var(--gray-450);
  --clr-neutral-500: var(--gray-500);
  --clr-neutral-550: var(--gray-550);
  --clr-neutral-600: var(--gray-600);
  --clr-neutral-700: var(--gray-700);
  --clr-neutral-800: var(--gray-800);
  --clr-neutral-850: var(--gray-850);
  --clr-neutral-900: var(--gray-900);
  --clr-neutral-950: var(--gray-950);
  --clr-neutral-black: var(--black);

  --clr-neutral: var(--clr-neutral-400);
  --clr-neutral-black-translucent-95: var(--black-translucent-95);

  /*
    ################################
    Color - Brand #########
    ################################ */
  --clr-brand-yellow: var(--yellow-400);

  /*
    ################################
    Color - Text  #########
    ################################ */
  --clr-text: var(--gray-900);
  --clr-text-lighter: var(--gray-400);
  --clr-text-inverse: var(--white);

  --clr-text-alert: var(--red-400);

  /*
    ################################
    Color - Button  #########
    ################################ */
  /* Button Primary */
  --clr-button-text: var(--white);
  --clr-button-surface: var(--black);

  --clr-button-primary-text: var(--white);
  --clr-button-primary-text-hover: var(--white);
  --clr-button-primary-text-disabled: var(--gray-400);

  --clr-button-primary-icon: var(--white);
  --clr-button-primary-icon-hover: var(--white);

  --clr-button-primary-surface: var(--purple-400);
  --clr-button-primary-surface-hover: var(--purple-800);
  --clr-button-primary-surface-active: var(--purple-800);
  --clr-button-primary-surface-disabled: var(--gray-400);

  --clr-button-primary-border: var(--purple-400);
  --clr-button-primary-border-hover: var(--purple-800);
  --clr-button-primary-border-active: var(--purple-800);
  --clr-button-primary-border-disabled: var(--gray-400);
  --clr-button-primary-border-focused: var(--purple-800);

  --clr-button-primary-border: var(--purple-400);
  --clr-button-primary-border-hover: var(--purple-800);
  --clr-button-primary-border-active: var(--purple-800);
  --clr-button-primary-border-disabled: var(--gray-400);
  --clr-button-primary-border-focused: var(--purple-800);

  /* Button Primary Light */
  --clr-button-text: var(--clr-primary);
  --clr-button-surface: var(--black);

  --clr-button-primary-light-text: var(--clr-primary);
  --clr-button-primary-light-text-hover: var(--clr-primary);
  --clr-button-primary-light-text-disabled: var(--gray-400);

  --clr-button-primary-light-icon: var(--clr-primary);
  --clr-button-primary-light-icon-hover: var(--clr-primary);

  --clr-button-primary-light-surface: var(--mint-400);
  --clr-button-primary-light-surface-hover: var(--mint-200);
  --clr-button-primary-light-surface-active: var(--mint-200);
  --clr-button-primary-light-surface-disabled: var(--gray-100);
  --clr-button-primary-light-surface-focused: var(--mint-400);

  --clr-button-primary-light-border: var(--mint-400);
  --clr-button-primary-light-border-hover: var(--mint-200);
  --clr-button-primary-light-border-active: var(--mint-200);
  --clr-button-primary-light-border-disabled: var(--gray-100);
  --clr-button-primary-light-border-focused: var(--mint-400);

  /* Button Secondary */
  --clr-button-secondary-text: var(--clr-primary);
  --clr-button-secondary-text-hover: var(--clr-primary);
  --clr-button-secondary-text-disabled: var(--gray-400);

  --clr-button-secondary-icon: var(--clr-primary);
  --clr-button-secondary-icon-hover: var(--clr-primary);

  --clr-button-secondary-surface: transparent;
  --clr-button-secondary-surface-hover: var(--purple-translucent-10);
  --clr-button-secondary-surface-active: var(--purple-translucent-10);
  --clr-button-secondary-surface-disabled: var(--gray-400);

  --clr-button-secondary-border: var(--purple-400);
  --clr-button-secondary-border-hover: var(--purple-800);
  --clr-button-secondary-border-active: var(--purple-800);
  --clr-button-secondary-border-disabled: var(--gray-400);
  --clr-button-secondary-border-focused: var(--purple-800);

  /* Button Secondary Light */
  --clr-button-secondary-light-text: var(--clr-secondary);
  --clr-button-secondary-light-text-hover: var(--clr-secondary);
  --clr-button-secondary-light-text-disabled: var(--gray-400);

  --clr-button-secondary-light-icon: var(--clr-secondary);
  --clr-button-secondary-light-icon-hover: var(--clr-secondary);

  --clr-button-secondary-light-surface: transparent;
  --clr-button-secondary-light-surface-hover: var(--mint-translucent-10);
  --clr-button-secondary-light-surface-active: var(--mint-translucent-10);
  --clr-button-secondary-light-surface-disabled: var(--gray-400);
  --clr-button-secondary-light-surface-focused: var(--mint-translucent-10);

  --clr-button-secondary-light-border: var(--clr-secondary);
  --clr-button-secondary-light-border-hover: var(--mint-800);
  --clr-button-secondary-light-border-active: var(--mint-800);
  --clr-button-secondary-light-border-disabled: var(--gray-400);
  --clr-button-secondary-light-border-focused: var(--mint-800);

  /* Button Danger */
  --clr-button-danger-text: var(--white);
  --clr-button-danger-text-hover: var(--red-100);
  --clr-button-danger-text-disabled: var(--gray-400);

  --clr-button-danger-icon: var(--white);
  --clr-button-danger-icon-hover: var(--red-100);

  --clr-button-danger-surface: transparent;
  --clr-button-danger-surface-hover: transparent;
  --clr-button-danger-surface-active: transparent;
  --clr-button-danger-surface-disabled: var(--gray-400);

  --clr-button-danger-border: transparent;
  --clr-button-danger-border-hover: transparent;
  --clr-button-danger-border-active: transparent;
  --clr-button-danger-border-disabled: transparent;
  --clr-button-danger-border-focused: var(--white);

  /* Button Brand */
  --clr-button-brand-text: var(--purple-400);
  --clr-button-brand-text-hover: var(--purple-800);
  --clr-button-brand-text-disabled: var(--gray-400);

  --clr-button-brand-icon: var(--purple-400);
  --clr-button-brand-icon-hover: var(--purple-400);

  --clr-button-brand-surface: transparent;
  --clr-button-brand-surface-hover: transparent;
  --clr-button-brand-surface-active: transparent;
  --clr-button-brand-surface-disabled: var(--gray-400);

  --clr-button-brand-border: transparent;
  --clr-button-brand-border-hover: transparent;
  --clr-button-brand-border-active: transparent;
  --clr-button-brand-border-disabled: transparent;
  --clr-button-brand-border-focused: var(--purple-800);

  /*
    ################################
    Color - Link Text  #########
    ################################ */
  /* Primary Link */
  --clr-link-text-primary: var(--black);
  --clr-link-text-primary-hover: var(--purple-800);
  --clr-link-text-primary-active: var(--purple-800);
  --clr-link-text-primary-disabled: var(--gray-400);
  --clr-link-text-primary-focused: var(--black);
  --clr-link-text-primary-visited: var(--gray-550);

  --clr-link-text-primary-border-focused: var(--purple-400);

  /* Secondary Link */
  --clr-link-text-secondary: var(--clr-neutral-950);
  --clr-link-text-secondary-hover: var(--purple-400);
  --clr-link-text-secondary-active: var(--purple-400);
  --clr-link-text-secondary-disabled: var(--gray-400);
  --clr-link-text-secondary-focused: var(--clr-neutral-950);
  --clr-link-text-secondary-visited: var(--gray-550);
  --clr-link-text-secondary-border-focused: var(--purple-400);

  /*
    ################################
    Color - Link icon  #########
    ################################ */
  --clr-link-icon-primary: var(--red-400);
  --clr-link-icon-primary-hover: var(--purple-800);
  --clr-link-icon-primary-active: var(--purple-800);
  --clr-link-icon-primary-disabled: var(--gray-400);
  --clr-link-icon-primary-focused: var(--purple-400);
}
