:root {
  --ralway-font: 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-bold: normal bold 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-black-italic: 900 italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-black: 900 normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-italic: normal italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-extra-bold: normal bold 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-extra-light: 200 normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-extra-bold-italic: bold italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-bold-italic: bold italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-extra-light-italic: 200 italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-medium: 500 normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-light-italic: 300 italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial';
  --ralway-light: 300 normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-semi-bold: 600 normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-medium-italic: 500 italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-regular: normal normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-thin-italic: 100 italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-thin: 100 normal 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;
  --ralway-semi-bold-italic: 600 italic 2rem/2 'Raleway', 'Sans-Serif', 'Arial', sans-serif;

  /* Base Fonts ############### */
  --font-xxl: 500 normal 4rem/1.5 var(--ralway-font);
  --font-xl: 500 normal 2.5rem/1.5 var(--ralway-font);
  --font-lg: 500 normal 1.125rem/1.5 var(--ralway-font);
  --font-base: 500 normal 1rem/1.5 var(--ralway-font);
  --font-sm: 500 normal 0.875rem/1.3 var(--ralway-font);
  --font-xs: 500 normal 0.75rem/1 var(--ralway-font);

  --font-bold-xxl: normal bold 4rem/1.5 var(--ralway-font);
  --font-bold-xl: normal bold 2.5rem/1.5 var(--ralway-font);
  --font-bold-lg: normal bold 1.125rem/1.5 var(--ralway-font);
  --font-bold-base: normal bold 1rem/1.5 var(--ralway-font);
  --font-bold-sm: normal bold 0.875rem/1.3 var(--ralway-font);
  --font-bold-xs: normal bold 0.75rem/1.3 var(--ralway-font);
}
