.footer-column-label {
  font-weight: 700 !important;
  text-align: center !important;
  display: inline-block;
  padding-left: 20px;
}

.footer-column-data {
  text-align: center !important;
  display: inline-block;
}


/* Ensure the table container allows for horizontal scrolling */
.list-table-v2 .data-table-container {
  overflow-x: auto;
}

/* Styling for the fixed first column */
.list-table-first-static-col .rdt_TableCol:first-child,
.list-table-first-static-col .rdt_TableCell:first-child {
  position: sticky;
  left: 0;
  background-color: #f0f4fa;
  z-index: 1;
  /* Makes sure the column floats on top while scrolling horizontally */
}

.list-table-footer .rdt_TableBody .rdt_TableRow:last-child {
  background-color: #f0f4fa;
  font-weight: bold;
}