.conf-box .custom-modal-content, .conf-box .custom-modal-content .confirmation-box{
    background-color: rgb(245, 245, 245);
}

.breadcrumb-separator {
    margin: 0 5px;
    color: #aaa; /* Adjust color as needed */
  }