.center-align {
  display: flex;
  align-items: center; 
}


.lead-customer-detail-section-header-container {
  display: flex;
  align-items: center;
  font-size: 18px; 
  color: #525B6B; 
  font-weight: 700; 
  background-color: #ffffff !important;
  border-bottom: 1px solid #edeff9;
}

/* Icon Styling */
.lead-customer-detail-section-header-container .header-icon {
  color: #55A783; 
  margin-right: 10px; 
  font-size: 30px;
  padding: 5px;
}

.lead-customer-detail-section-header-container .btn-icon {
  color: #6f7070; 
  margin-right: 10px; 
}

.header-btn-update{
  color: #6f7070;
  border: 1px solid #b4b2b2;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  width: 122px;
  height: 29px;
}

.header-btn-update:hover{
  color: #8a8787;
  background-color: #d1d1d1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .lead-customer-detail-section-header-container {
    flex-direction: column;
    align-items: flex-start;
  }  
}

/* Company info container */

.company-info {
    max-width: 300px;
    text-align: left;
    border-bottom: 1px solid #dfe4e7; 
    padding-bottom: 20px; 
    margin-bottom: 0px;
    padding-left: 15px;
  }
  
  /* Company header styling */
  .company-header {
    display: flex;
    margin-bottom: 10px;    
  }
  
  .company-header svg {
    color: #6c757d;
    margin-right: 8px;
  }
  
  .company-name {
    font-size: 14px;
    font-weight: 700;
    color: #6c757d;
  }
  
  /* Company address styling */
  .company-address {
    font-size: 12px;
    color: #6c757d;
    margin-bottom: 15px;
    margin-left: 26px; 
    line-height: 1.4; 
  }
  
  /* Company status styling */
  .company-status {
    text-align: left;
    margin-left: 26px; 
  }
  
  .status-badge-success {
    display: flex;
    background-color: #12963c; 
    color: #ffffff;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    height: 17px;
    width: 58px;
    justify-content: center;
  }

  .status-badge-danger {
    display: flex;
    background-color: #cb507f; 
    color: #ffffff;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    height: 17px;
    width: 58px;
    justify-content: center;
  }

  .lead-list-aside-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .options-button-container {
    position: relative;
    bottom: 0px; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; 
    padding-bottom: 0px;
  }
  
  .back-button {
    align-self: center; 
    font-size: 11px; 
    padding: 5px 10px; 
    background-color: rgb(255, 255, 255);
    border: none;
    color: #13a876;
    margin: 10px 0px;
    border: 1px solid #13a876;
    border-radius: 5px;
    width: 90%;
  }

  .back-button:hover{
    background-color: #13a876;
    color: white;
  }

  .deactivate-button{
    align-self: center; 
    font-size: 11px; 
    padding: 5px 10px; 
    background-color: rgb(255, 255, 255);
    border: none;
    color: #e73f80;
    margin: 10px 0px;
    border: 1px solid #e73f80;
    border-radius: 5px;
    width: 90%
  }

  .deactivate-button:hover{
    background-color: #e73f80;
    color: white;
  }

  .activate-button{
    align-self: center; 
    font-size: 11px; 
    padding: 5px 10px; 
    background-color: rgb(255, 255, 255);
    border: none;
    color: #c0870d;
    margin: 10px 0px;
    border: 1px solid #c0870d;
    border-radius: 5px;
    width: 90%
  }

  .activate-button:hover{
    background-color: #c0870d;
    color: white;
  }

  .margin-10{
    margin: 10px;
  } 

  .block{
    display: block;
  }

  .no-padding{
    padding: 0px !important;
  }

  .padding-right-30{
    padding-right: 30px;
  }

  .confirm-body{
    font-size: 14px;
  }

  .inline-form{
    display: grid;
    grid-template-columns: 65px 1fr;
    margin-top: 5px;
    align-items: center;
  }

  .txt-form-control{
    font-size: 14px;
  }

  .tool-tip-text{
    margin-left: 5px;
  }
  .info-icon {
    font-size: 12px;
    color: #007bff;
    cursor: pointer;
    display: inline-flex;
    transition: color 0.3s ease;
  }
  
  .info-icon:hover {
    color: #0056b3;
  }

  .tool-tip-content{
    font-size: 12px;
  }
  
  textarea{
    font-size: 11px !important;
  }

  .highlighted-red{
    color: rgb(238, 94, 94);
    text-align: center;
    margin: 2px 10px;
    border: 1px solid #f7f7f7;
    /* border-radius: 5px; */
    font-size: 11px;
    padding: 5px 0px;
    background-color: #f8f8f8;
    border-left: none;
    border-right: none;
  }

  .highlighted-red:hover{
    background-color: #f0eded;
    color: rgb(221, 16, 16);
    font-weight: 600;
  }

  .convert-to-customer-button{
    align-self: center; 
    font-size: 11px; 
    padding: 5px 10px; 
    background-color: rgb(255, 255, 255);
    border: none;
    color: #0dabc0;
    margin: 0px 0px;
    border: 1px solid #0dabc0;
    border-radius: 5px;
    width: 90%
  }

.convert-to-customer-button:hover{
  background-color: #0dabc0;
  color: white;
}

.success-message-dialog {
  color: white;
  background-color: #4caf75;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
}

.success-icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.error-message-dialog {
  color: White;
  background-color: #dd8177;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.checklist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checklist-container label{
  margin-left: 5px;
  margin-top: 5px;
}

.button-green-disabled{
  background-color: #a4b4a7;
  color: white;
  border: 1px solid #d5d7d8;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
}

.min-width-auto{
  min-width: auto !important;
}