
.padding-center{
    padding: 0px 10px 10px !important;
}

.ddl-short{
    width: 170px !important;
}

.font-light{
    font-weight: 100 !important;
}

.contact-type-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    margin-bottom: 10px;
    color: #6c757d;
}

.heaader-icon{
    margin-right: 5px;
    color: #55A783;
}