.form-single-section {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the spacing between form fields */
    padding: 5px 10px;
  }

.table-form{
  padding-top: 10px;
  border-top: 1px solid #dbdbdb;
}

.table-single-form {
  align-items: center !important;
  gap: 0px !important;
}

.no-ff-margin-bottom .form-field{
  margin-bottom: 0px !important;
}

.ddl-default{
  min-width: 150px !important;
}


