.total-leave-enter {
    display: block !important;
    font-weight: 600 !important;
    margin-bottom: 10px !important;
    color: #006D3F !important;
    font-size: 13px !important;
    padding-bottom: 5px !important;
}