/* General Styles for Form Layout */
.content {
  position: relative;
  margin: 0 auto;

}

.lead-customer-contact-detail-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}

/* Styling for Form Group Containers */
.form-group-container {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}

.form-group span {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #006D3F;
  font-size: 13px;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 5px;
}

.form-group input,
.form-group select,
.form-single-section input,
.form-single-section select,
.form-group textarea {
  font-size: 11px;
  font-weight: 700;
}

.form-group span.sub-title {
  display: block;
  font-weight: bold;
  margin: 20px 0;
  color: black;
  font-size: 14px;
  border-bottom: 2px solid #d3d3d3;
}

/* Input Fields Styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color: #666;
  font-size: 11px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-group-container {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 20px;
    padding: 0;
  }
}

/* .form-button-container {
  padding: 0 20px;
} */

.btn-submit {
  background-color: #008C51 !important;
  color: white !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  font-size: 13px !important;
  width: 120px !important;
  height: 33px !important;
}

.btn-submit:hover {
  background-color: #28a55e !important;
  color: white !important;
  margin-right: 10px !important;
}

.form-button-container span {
  color: #838C96;
  font-size: 12px;
}

footer {
  border-top: var(--border);
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
}

.control-label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  color: #8b8a8a;
}