.bar-chart-container-opportunity-conversion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    overflow: hidden;
}

.bar-chart-wrapper-opportunity-conversion {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 55%;
}