.filter-title-styles {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #008C51;
    margin-bottom: 15px;
    margin-top: 10px;
}

.clear-filter-title-styles {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #3F3F3F;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 0.3px solid #3F3F3F;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.clear-filter-title-styles:hover {
    background-color: #3F3F3F;
    color: #fff;
}