  /* Header styling */
  .area-container .area-title {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: #008C51; 
    margin-bottom: 15px;
  }

  /* List styling */
  .area-container ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }

  /* Link styling */
  .area-container ul > li > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #838C96; 
    font-size: 12px;
    transition: color 0.2s ease-in-out;
    padding: 6px 10px;
  }

  /* Icon styling */
  .area-container ul > li > a > svg {
    margin-right: 10px; 
    color: #838C96; 
  }

  /* Link hover effect */
  .area-container ul > li > a:hover {
    color: #242525; 
    background-color: #dfe4e7;
  }

  /* Icon hover effect */
  .area-container ul > li > a:hover > svg {
    color: #242525; 
  }

  .area-container ul li.active a {
    color: #5b5e5e; 
    background-color: #dfe4e7;
  }
