

.address-tbl-popup .custom-modal-content{
    padding: 0px 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    align-items: center;
}

.address-tbl-popup .custom-modal-content .custom-modal-close{
    display: none;
}

.address-tbl-popup .custom-modal-content .popup-list-items{
    margin-bottom: 0px;
}

.height-32{
    height: 32px;
}

.height-70{
    height: 70px;
}