

/* Style for the dropdown menu */
.btn-popup-toggle{
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  
  .popup-list-items {
    padding-left: 0px;
    margin-left: 0px;
  }
    
  /* Style for each dropdown item */
  .popup-list-items li {
    padding: 10px 10px; /* Increase padding */  
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
    font-size: 14px; /* Adjust font size */
    color: #8f9a9e; /* Text color */
    cursor: pointer;
  }
  
  /* Hover effect for dropdown items */
  .popup-list-items li:hover {
    background-color: #f0f4fa; /* Light blue background on hover */
    border-radius: 5px; /* Rounded corners on hover */
  }
  
  /* Active or selected state */
  .popup-list-items li.active {
    background-color: #e6f7ff; /* Light blue background */
    color: #007bff; /* Blue text color */
    font-weight: bold; /* Bold text */
  }