.sales-history-container{
    padding: 10px;
}

.graphs-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;    
}

.graph-left,
.graph-right {
    width: 48%; 
    box-sizing: border-box; 
}

.table-bottom {
    width: 100%;
    margin-top: 20px; 
}

.left-title, .right-title, .bottom-title{
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
    color: #006D3F;
    font-size: 13px;
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 5px;
}

.delivery-info{
    display: grid;
    justify-content: flex-end;
    margin-top: 10px;
}

.delivery-row {
    display: flex;
    margin-bottom: 4px;
}

.label {
    font-size: 11px;
    width: 110px;
    text-align: right;
    margin-right: 5px;
}

.value-label {
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 11px;
    width: 100px;
    text-align: right;
}

.last-delivery {
    background-color: orange;
    color: white;
}

.outstanding-deliveries {
    background-color: pink;
    color: red;
}

.graph-footer-info{
    text-align: right;
    margin-right: 10px;
}

.graph-footer-label{
    font-size: 11px;
}

.loading-icon {
    width: 20%;
    height: 20%;
    object-fit: contain; 
  }

@media screen and (max-width: 768px) {
    .graphs-container {
        flex-direction: column;
    }

    .graph-left,
    .graph-right {
        width: 100%;
        margin-bottom: 20px; 
    }
}