
.sales-history-filter-container, .common-filter-container{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe4e7;
}

.sales-history-filter-container .filter-title, .common-filter-container .filter-title{
    display: block;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 700;
    color: #008C51;
}

.input-controller{
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    padding: 5px;
}
