.call-cycle-details-drops {
    width: 418px !important;
    font-size: 11px !important;
}

.call-cycle-stage {
    margin-top: -20px;
}

.call-cycle-lead-stage-drop {
    width: 150px !important;
    font-size: 11px !important;
}

.common-cancel-btn {
    margin-top: -1.5px !important;
}