.width-large{
    width: 440px !important;
}

.width-medium-ddl{
    width: 350px !important;
}

.btn-large{
    width: 120px;
    height: 30px;
}

.k-dropdowngrid-popup .k-table-scroller{
    overflow-y: scroll !important;
}

.org-eu-container{
    margin: 10px 5px 10px 0px;
}

.org-eu-comment{
    display: block;
    width: 300px;
    height: 200px;
    font-size: 14px !important;
}

.org-eu-popup-button-container{
    display: flex;
    justify-content: end;
}

.width-auto{
    width: auto !important;
}

.btn-small{
    width: 60px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
}

.btn-delete-conf{
    background-color: rgb(223, 62, 62);
    border: 1px solid rgb(243, 56, 56);
}

.btn-delete-conf:hover{
    background-color: rgb(214, 5, 5);
    border: 1px solid rgb(243, 56, 56);
}

.btn-delete-cancel-conf{
    background-color: rgb(150, 146, 146);
    color: white;
    border: 1px solid rgb(199, 196, 196)
}

.btn-delete-cancel-conf:hover{
    background-color: rgb(129, 127, 127);
    color: white;
    border: 1px solid rgb(129, 127, 127);
}