.area-container {
  padding: 8px;
  /* Need to Change */
}

/* Header styling */
.area-container>span {
  display: block;
  font-size: 10px;
  font-weight: 700;
  color: #008C51;
  margin-bottom: 15px;
  margin-top: 10px;
  /* Need to Change */
}

/* List styling */
.area-container ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 0px;
}

/* Link styling */
.area-container ul>li>a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #6c757d;
  font-size: 12px;
  transition: color 0.2s ease-in-out;
  padding: 6px 10px;
}

/* Icon styling */
.area-container ul>li>a>svg {
  margin-right: 10px;
  color: #6c757d;
}

/* Link hover effect */
.area-container ul>li>a:hover {
  color: #242525;
  background-color: #dfe4e7;
  transition: background-color 0.2s ease-in-out;
}

/* Icon hover effect */
.area-container ul>li>a:hover>svg {
  color: #242525;
  transition: background-color 0.2s ease-in-out;
}

/* Selected area styling */
.area-container ul>li>a.selected {
  color: #ffffff;
  background-color: #6c757d;
  transition: background-color 0.2s ease-in-out;
}

/* Selected icon styling */
.area-container ul>li>a.selected>svg {
  color: #ffffff;
}

.dashboard-filter-header,
.common-filter-header {
  align-items: center;
  text-decoration: none;
  color: #6c757d;
  font-size: 12px;
  transition: color 0.2s ease-in-out;
}

.rep-drop {
  width: 60% !important;
  font-size: 12px !important;
}

.rep-drop {
  width: 60% !important;
  font-size: 12px !important;
}

.dashboard-filter,
.input-controller {
  width: 150px !important;
  margin-left: 15px !important;
  margin-top: 5.5px !important;
  font-size: 12px !important;
}

.paddingTop-12 {
  padding-top: 12.5px;
}

.paddingBottom-12 {
  padding-bottom: 12.5px;
}

.repType-performance-drop {
  width: 150px !important;
  margin-left: 12.5px !important;
  margin-top: 5.5px !important;
  font-size: 12px !important;
}

.dash-filter-button {
  width: 70% !important;
  margin-left: 24.5px !important;
  margin-top: 20px !important;
  font-size: 12px !important;

}

.dash-excel-button {
  width: 70% !important;
  margin-left: 24.5px !important;
  margin-top: 10px !important;
  font-size: 12px !important;

}

.dash-filter-btn {
  color: white;
  border: 1px solid #b4b2b2;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #1565C0 !important;
}

.dash-filter-btn:hover {
  color: white !important;
  background-color: #1565C0 !important;
}

.dash-radio-button-area {
  margin-left: 10px !important;
  text-size-adjust: 12px !important;
  font-size: 12px !important;
}

.area-searchbox-container {
  width: 200px;
}

.dash-filter-btn-disabled {
  color: white;
  border: 1px solid #b4b2b2;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #8fa096;
}

.cursor-pointer {
  cursor: pointer;
}