:root {
  --color-dark: #333;
  --display-flex: flex;
  --center: center;
}

.peerless-cms-header {
  display: var(--display-flex);
  background-color: white;
  height: 58px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  align-items: var(--center);
  justify-content: space-between;
  border-bottom: var(--border);
  font-size: 12px;
}

.header-profile-container {
  display: var(--display-flex);
  align-items: var(--center);
  justify-content: space-between;
  margin-right: 10px;
}

.logout-icon {
  cursor: pointer;
  color: var(--color-dark);
  font-size: 20px;
  padding: 10px;
  margin-left: 60px;
}

.logout-icon:hover {
  color: #666;
}