
.common-popup-title{
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    background-color: aliceblue;
    text-align: center;
}

.common-popup-body{
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
}

.common-popup-body .product-details{
    margin-bottom: 10px;
}

.common-popup-body .product-details .detail-section .detail-header{
    font-weight: 700;
    display: inline-block;
    width: 70px;
}

.common-popup-body .deal-table-container{
    margin-bottom: 10px;
}