.rep-bold {
    font-size: 13px;
    font-weight: normal;
    color: #006D3F;
    font-weight: 700;
}

.rep-controlled-aliment {
    display: flex;
    justify-content: left;
    padding-top: 5px;
}

.dropdown-rep {
    width: 150px !important;
    margin-left: 26px !important;
    font-size: 12px !important;
}

.radio-button-rep {
    margin-left: 26px !important;
}

.padding-25 {
    padding-top: 25px;
}