.slider-container {
    position: relative;
    margin-bottom: 30px;

}

.k-slider-horizontal {
    width: 100% !important;
}

.k-slider-items .k-label {
    padding: 0px !important;
    border: none !important;
}

.slider-label {
    bottom: -22px !important;
    position: relative !important;
    border: none !important;
    font-size: 11px !important;
}

.form-group-horizontal {
    padding: 10px 20px;
}

.form-group-horizontal label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #666;
    font-size: 11px;
}

.cmb-products {
    width: 200px !important;
}

.btn-default {
    background-color: #008C51;
    width: 60px;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;
    border: 0.5px solid;
    margin-left: 10px;
    color: white;
}

.btn-default:hover {
    background-color: #28a55e;
    color: white;
}

.opportunity-products-container {
    padding: 0px 20px;
}

.btn-delete {
    background-color: white;
    width: 66px;
    height: 29px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid;
    margin-left: 10px;
}

.btn-delete:hover {
    background-color: #e03737;
    color: white;
}

.inline-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.cmb-products {
    flex: 1; 
}

.margin-top-0{
    margin-top: 0px !important;
}

