.filter-form-group,
.filter-form-group-inner {
  display: flex;
  align-items: center;
}
.filter-form-group{
  gap: 10px;
}
.filter-form-group.no-gap{
  gap: 0;
}

.filter-header{
  /* width: 90px; */
  color: #6c757d;
  font-size: 12px;
  width: 20%;
}
/* .filter-header.no-label-width {
  width: auto;
} */

.filter-form-group-inner .k-radio-label{
  font-size: 12px;
}

.filter-form-group-check{
  font-size: 12px !important;
}
.filter-form-group .k-checkbox-label {
  color: #6c757d !important;
  font-size: 12px !important;
}

input.filter-form-group-radio{
  margin-left: 0 !important ;
}

.filter-required-indicator {
  color: red;
}