.container-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding-block: 5px;
  font-size: 14px;
  color: #525B6B;
  font-weight: 700;
  background-color: #ffffff !important;
  border-bottom: 1px solid #edeff9;
}

.container-header-padding {
  padding-bottom: 10px;
}

.container-center-align {
  display: flex;
  align-items: center;
}

.container-header-icon {
  color: #55A783;
  margin-right: 10px;
  margin-left: 3px;
  margin-bottom: 3px;
  font-size: 27px;
}

.sub-heading-clipped {
  overflow: hidden;
  display: block;
  max-width: 250px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}