.legend-critical {
    width: 30px;
    height: 17px;
    background: #ffc0cb;
}

.legend-short {
    width: 30px;
    height: 17px;
    background: #cbfce1;
}

.legend-available {
    width: 30px;
    height: 17px;
    background: #d8d1e7;
}

.stock-enq-legends {
    font-size: 12px;
}

.stock-enquiry-other {
    padding-left: 10px;
}

.filter-group-container {
    font-size: 12px;
}

.stock-enquiry-view-type .k-radio-wrap {
    padding-left: 10px;
    margin-top: 10px;
}

.stock-enquiry-view-type .k-radio-label {
    margin-top: 10px;
    display: inline-flex !important;
    color: #6c757d !important;
}

.stock-enquiry-other .k-checkbox {
    border-color: #dbd6d6;
}

.stock-enquiry-other .k-checkbox-label {
    color: #6c757d !important;
}

.row-critical td:nth-child(-n+14) {
    background-color: #ffc0cb !important;
}

.row-short td:nth-child(-n+14) {
    background-color: #cbfce1 !important;
}