.center-align {
    display: flex;
    align-items: center;
}

.header-icon {
    color: #55A783;
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: 27px;
}

.dropdown-rep-drop-head {
    color: #6f7070ee;
    padding-right: 10px;
    font-size: 12px;
    font-weight: lighter;
}

.dropdown-rep-performance {
    width: 150px !important;
    font-size: 12px !important;
}