.bar-achievement-by-region-graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    overflow: hidden;
}

.bar-achievement-by-region-graph-wrapper {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 55%;
    height: 60%;
}

.dashboard-achievement-container .achievements-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard-achievement-container .achievement-filters {
    border-right: 1px solid #00000018;
    flex: 0 0 19%;
    padding: 10px;
}

.dashboard-achievement-container .achievement-chart {
    flex: 0 0 80%;
    padding: 10px;
}