.section-title {
    font-size: 16px;
    font-weight: 700;
}

.header-btn-cancel {
    color: #fff !important;
    border: 1px solid #e74c3c !important;
    font-size: 12px !important;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    width: 90px !important;
    height: 29px !important;
    background-color: #e74c3c !important;
}

.header-btn-cancel:hover {
    color: #fff !important;
    background-color: #c0392b !important;
    border-color: #c0392b !important;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}