.section-title {
    font-size: 16px;
    font-weight: 700;
}

.header-btn-cancel {
    color: #fff;
    border: 1px solid #e74c3c;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    width: 90px;
    height: 29px;
    background-color: #e74c3c;
}

.header-btn-cancel:hover {
    color: #fff;
    background-color: #c0392b;
    border-color: #c0392b;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}