.footer-content {
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.footer-save-button {
    margin-left: 10px !important;
    width: 100px !important;
    font-size: 13px !important;
}

.footer-span-content {
    color: #838C96;
    font-size: 13px;
    margin-top: 4px;
}