.dashboard-call-analysis-container {
    justify-content: space-between;
    font-size: 12px;
    height: 100%;
}

.pie-chart-container-call-analysis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    overflow: hidden;
}

.pie-chart-wrapper-call-analysis {
    /* padding-top: 5px; */
    /* padding-bottom: 3px; */
}

.table-container-call-analysis {
    flex: 1;
    overflow-y: hidden;
    max-height: calc(100vh - 150px);
}