.drop-downs-create-call-activity-modal {
    font-size: 12px !important;
    width: 150px !important;
}

.btn-submit-call-cycle-activity {
    background-color: #008C51 !important;
    color: white !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    font-size: 12.5px !important;
    width: 120px !important;
    height: 30px !important;
}

.btn-submit-call-cycle-activity:hover {
    background-color: #28a55e !important;
    color: white !important;
    margin-right: 10px !important;
}

.btn-submit-call-cycle-activity-text {
    padding-bottom: 3px !important;
}